<!doctype html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <div>
      <p>
        Please Select:
      </p>
      <p>1. Getting map files from server only</p><button>Here </button>
      <p>2. Process map files and build complete map json</p><button>Here </button>
      <p>3. Both - Get map files from server AND process them into one map json file</p><button>Here </button>
      <p>4. Search Oasis</p><button>Here </button>
    </div>

    <form action="/search">
        <input type="text" name="name"/>
        <button type="submit">Search</button>
    </form>
  </body>
</html>
